$primary-font: "Poppins";
$primary-font-color:#333;


body {
    margin: 0;
    padding: 0;
    background-color: #ffff;
    button{
        border-style:none;
    }

    header  {
        display: flex;
    }

    button {
        text-decoration: none;
        background-color: #e5e5e200;
     
        padding: 0.5rem;
       
    }

    ul  {
        display: inline
    }

    }

    .btn-icon   {
        // font-size: larger;
        // text-align: center;
        margin-left: 0.5rem;

    }
    .btn-txt    {
        text-decoration: none;
        font-style: normal;
        font-size: 1rem;
        font-weight: 400;
    } 
    
    .nav-1 {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        height: 4rem;
        padding: 8px 10px;
    
    }

    .logo{
        height: 64px;
        width: auto;
                }

        .nav-2  {
            text-transform: uppercase;
            background-color:#E5E5E2;
            ul  {
                padding: 8px;
                
                font-family: $primary-font;
                color: $primary-font-color;
                font-weight: 400;
                font-size: 12px;
                li {
                    display: inline;
                    margin-left:8px;
                    a   {
                        margin-right: 4px;
                    }
                    p   {
                        text-transform: uppercase;
                        font-size:11px;
                    }
                    .thick  {
                        font-weight: 600;
                    }
                
            }
           
            }
        }

      
    
    .banner-img{
        height: 12.5rem;
        width: 100%;
        object-fit: cover;
    }
    .nav-2 {
        list-style: none;
    }

  
    
    h2 {
        font-family:$primary-font;
        font-weight:500;
        font-size: 22px;
        line-height: 32px;
        text-rendering: optimizeLegibility;
}
    

    
    
    h3  {
        font-weight: $primary-font;
        font-weight: 300;
        font-size: 0.64rem;
    }
    p   {
        font-family: $primary-font;
        font-weight:200;
        font-size: 1rem;
        line-height: 24px;
        margin-bottom: 0.8rem;
        margin: 0;
    }

    .p-2    {
        font-family: $primary-font;
        font-weight:200;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0.8rem;
        margin: 0;
    }
    
    .article    {
        background-color: #77766F;
        color: #ffff;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 5rem;

        
    }
    .article-img    {
        height: 12.5rem;
        width: 100%;
        object-fit: cover;
    }
   
    
    
    .article-btn {
        display: flex;
        // justify-content: space-between;
        align-items: center;    
        width:auto;
        color: #ffff;
        background-color: #77766F;
        // padding-left: 1rem;
        // padding-right: 1rem;
        padding: 0;
        gap:2rem;
    }
    
    .red-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;    
        width:auto;
        background-color: #CC0000;
        border-radius: 25px;
        color: #ffff;
        padding: 0.8rem 1rem;
        
        gap:2rem;

        font-family: $primary-font;
        font-weight: 400;
        font-style: normal;
    }
    
    .links  {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }
    
    .section {
        margin-top: 5rem;
        padding: 0 1rem;
        h2 {
            color: #333;
        }
    }   

    .section-2 {
        display: flex;
        flex-direction: column;
        margin-top: 8rem;
        padding: 10px;
       
    }
    



    .line {
        height: 1px;
        flex: 1;
        background: black; 
    }

    
    // .btn-div    {
    //     display: flex;
    //     flex-direction: row;
    //     // justify-content: space-between;
    // }
    
    .article-border {
        border-left: 15px solid #822757;
        background-color:#E5E5E2;
    
    }

    .article-2    {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 3rem;
        // padding-bottom: 5rem;
    }


.section-name   {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

address  {
    background-color:#77766F;
    text-decoration: none;
    padding: 32px 0;
  
    font-style: normal;
    font-family: $primary-font;
    color: #ffff;
    .footer {
        // margin: 0 0.5rem;
        padding: 10px;
        h4 {
            margin-bottom: 1rem;
            font-weight: 500;
            font-size: 1rem;
            line-height: 32px;
            font-style: normal;
            text-rendering: optimizeLegibility;
          
            // margin-bottom: 1rem;
            
           
        }
        h5 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 0.625rem;
            margin-bottom: 0;
        }
        a{
            // display: block;
            // margin-block-start: 1em;
            // margin-block-end: 1em;
            // margin-inline-start: 0px;
            // margin-inline-end: 0px;
            // box-sizing: inherit;
            font-weight: 200;
            font-size:0.875rem;
            line-height: 24px;
            margin-bottom: 0.8rem;
            text-rendering: optimizeLegibility;

            // font-size: 10px;
            // font-weight: 400;
            // line-height: normal;
            // margin-bottom: 0;
            // text-transform: uppercase;
            // text-rendering: optimizeLegibility;
        }
    }
    .footer-2{
        display: flex;
        flex-direction: column;
        hr {
            border-bottom: 1px solid #cacac5;
            clear: both;
            height: 0;
            margin: 2rem 0;
            max-width: 75rem;
        }
        .quote  {
            margin: 0 1rem;
            text-align: center;
            font-weight: $primary-font;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
        }
    }
}



